:root {
    --color-green: #57f287;
    --color-yellow: #fee75c;
    --color-fuchsia: #eb459e;
    --color-red: #ed4245;
    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary-lightly: #40444b;
    --color-primary-light: #36393f;
    --color-primary-medium: #2f3136;
    --color-primary-dark: #202225;

    --color-secondary: #5865f2;

    --text-secondary: #dcddde;
    --text-detail: #6c7077;
    --text-description: #b9bbbe;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-regularp: 500;
    --fw-bold: 600;
    --fw-bolder: 700;

    --fs-smallest: 0.6rem;
    --fs-smaller: 0.8rem;
    --fs-small: 1rem;
    --fs-medium: 1.2rem;
    --fs-large: 1.4rem;

    --discord-background: url("../assets/img/discord-app-background.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    display: flex;
    place-content: center;
    align-items: center;
    background: var(--discord-background);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Composition */
.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1350px;
    max-height: 650px;
}

.app-container {
    width: 100%;
    height: 100%;
    padding-bottom: 0.8em;
}

/* Utility */

h2 {
    font-size: var(--fs-medium);
    font-weight: var(--fw-regularp);
    color: var(--color-white);
}

h3 {
    color: var(--color-white);
    font-size: var(--fs-small);
    font-weight: var(--fw-regularp);
}

p {
    color: var(--text-description);
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

.fs-large {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

.flex-apart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-flow {
    display: flex;
    align-items: center;
}

.flex-flow-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-circle {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-green);
    border-radius: 50%;
    margin-top: 1rem;
}

.bg-dark {
    background-color: var(--color-primary-dark);
}

.bg-medium {
    background-color: var(--color-primary-medium);
}

.bg-light {
    background-color: var(--color-primary-light);
}

.bg-lightly {
    background-color: var(--color-primary-lightly);
}

.color-primary {
    color: var(--color-white);
}

.color-secondary {
    color: var(--text-secondary);
}

.padding-reg {
    padding: 0.8em;
}

.padding-reg-horizontal {
    padding: 0 0.8em;
}

.shadow-bottom {
    border-bottom: 0.5px solid var(--color-primary-dark);
    box-shadow: 0 1.5px 1px -1px var(--color-black);
}

.pfp-small {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.pfp {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.pfp-large {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.detail {
    color: var(--text-detail);
    font-size: var(--fs-smaller);
    font-weight: var(--fw-regularp);
}

.icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-self: center;
}

.at-icon {
    background: url("../assets/img/at-icon.svg") center/cover no-repeat;
}

.inbox-icon {
    background: url("../assets/img/inbox-icon.svg") center/cover no-repeat;
}

.help-icon {
    background: url("../assets/img/help-icon.svg") center/cover no-repeat;
}

.attachments-icon {
    background: url("../assets/img/attachments-icon.svg") center/contain no-repeat;
}

.gift-icon {
    display: none; /*Mobile*/
    background: url("../assets/img/gift-icon.svg") center/contain no-repeat;
}

.gif-icon {
    background: url("../assets/img/gif-icon.svg") center/contain no-repeat;
}

.stickers-icon {
    display: none; /*Mobile*/
    background: url("../assets/img/stickers-icon.svg") center/contain no-repeat;
}

.emoji-icon {
    background: url("../assets/img/emoji-icon.svg") center/contain no-repeat;
}

/* Block */

.servers-list {
    display: none;
}

.friends-list {
    display: none;
}

.conversation-container {
    width: 100%;
    height: 100%;
}

.conversation__top-bar {
    width: 100%;
    z-index: 9;
}

.conversation__top-bar--right {
    display: flex;
}

.input__search {
    margin-right: 10px;
    width: 8rem;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 4px;
}

.input__search:focus-visible,
.input__search:hover {
    outline: none;
    transform: scale(1.05);
}

.messages-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.6em 0.6em 0 0.6em;
    overflow-y: auto;
}


.messages-wrapper {
    height: auto;
    max-height: 100%;
    position: absolute;
    bottom: 0;
  }


.conversation-chat {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.conversation__user-info {
    justify-content: flex-start;
    
}

.chat__username {
    margin-bottom: .5em;
}

.chat-separator {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--text-detail);
    margin: var(--fs-smaller) 0;
    justify-content: center;
    align-items: center;
}

.message-block {
    width: 100%;
    margin-bottom: 1em;
    gap: 0.8em;
    align-items: flex-start;
}

.container__conversation-input {
    width: 99%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 0.8em;
    margin-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
}

.conversation-input{
    width: 100%;
    background-color: inherit;
    border: 0px solid;
    outline: none;
    color: var(--text-secondary);
    padding-right: 0.8em;
}


/* Exception */

.at-icon {
    cursor: initial;
    margin-right: 5px;
}

.help-icon {
    margin-right: 0;
}

.chat-separator>span {
    opacity: 1;
    padding: 0 var(--fs-smallest);
    background-color: var(--color-primary-light);
}

.emoji-icon {
    margin-right: 0;
}

@media screen and (max-width:900px), screen and (max-height:826) {
    .wrapper {
        max-width: 100vw;
        max-height: 100vh;
    }
    
}

@media screen and (min-width:1535px), screen and (min-height:863px) {
    .wrapper {
        border-radius: 5px;
        -webkit-box-shadow:1px 1px 10px 0px rgba(220, 221, 222, 0.384);
        -moz-box-shadow:1px 1px 10px 0px rgba(220, 221, 222, 0.384);
        box-shadow: 1px 1px 10px 0px rgba(220, 221, 222, 0.384);
        overflow: hidden;
    }

    .control-desktop-bar {
        display: block;
        width: 100%;
        height: 10px;
        background-color: var(--color-primary-dark);
    }
}

@media screen and (min-width: 500px){
    .gift-icon {
        display: block;
    }

    .stickers-icon {
        display: block;
    }
}